@using Core.models;
@using Pages.Shared;
@model IEnumerable<Category>;
@{
    Layout = "_Layout";
}


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 col-xs-12 main-column p-0">
        <div class="content">
            <div class="header mt-2">
                <p class="fs-4">Category</p>
            </div>
            <div class="search-container mx-2 mt-2">
                <input style="" placeholder="Search.." class="search-input form-control px-3 " />
            </div>
            <div class="categories mt-1 p-4">
                @foreach(var category in Model)
                {
                    <div class="category mt-3">
                        <div class="icon-item" style="fill:@category.Color"> @Html.Raw(category.SvgContent) </div>
                        <p class="fs-5 m-1"> @category.Name</p>
                    </div>
                    <hr />
                }
            </div>
           
        </div>
        @await Html.PartialAsync("AuthFooter", new AuthFooterModel())
    </div>
    <div class="col-md-3"></div>
</div>


<style>
    html,body{
        overflow-y: hidden;
    }
</style>



<script>
    $(document).ready(function () {
        let typingTimer;
        const typingDelay = 500;
        let originalContent = $('.categories').html();
        
        $('.search-input').on('input', function () {
            clearTimeout(typingTimer);
            var name = $(this).val();
            if (name != "") {
                typingTimer = setTimeout(function () {
                    $.ajax({
                        url: '/Category/Find',
                        type: 'GET',
                        data: { name: name },
                        success: function (data) {
                            renderCategory(data);
                        }
                    });
                }, typingDelay);
            } else {
                var container = $('.categories').html(originalContent);
            }
        })



        function renderCategory(categories) {
            var container = $('.categories');
            container.empty();

            categories.forEach(function (category) {
                var transactionHtml = `
                      <div class="category mt-3">
                                <div class="icon-item" style="fill:${category.color}"> ${category.svgContent} </div>
                            <p class="fs-5 m-1"> ${category.name}</p>
                        </div>
                        <hr />
                    `;

                container.append(transactionHtml);

            });
        }
    });
</script>
