html {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: #070F2B;
    margin: 0px;
    padding: 0px;
}


.header{
    text-align:center;
    display:flex;
    justify-content:center;
    margin-top:10px;
}

.main-column {
    background: #0f0c14;
    min-height: 100vh;
    color: #e6e1e5;
}

form .invisible-input {
    background-color: #0f0c14;
    border: none;
    outline: none;
    color: #e6e1e5;
}

   
form .invisible-input:focus {
        outline: none;
        box-shadow: none;
        background-color: #0f0c14;
        text-align: right;
        color: #e6e1e5;
        padding-top: 0px;
    }

    form .invisible-input:-webkit-autofill {
        background-color: #0f0c14 !important;
        color: #e6e1e5 !important;
        -webkit-box-shadow: 0 0 0px 1000px #0f0c14 inset;
        box-shadow: 0 0 0px 1000px #0f0c14 inset;
    }

        /* Стили для автозаполнения при наведении */
        form .invisible-input:-webkit-autofill:hover {
            background-color: #0f0c14 !important;
            color: #e6e1e5 !important;
            -webkit-box-shadow: 0 0 0px 1000px #0f0c14 inset;
            box-shadow: 0 0 0px 1000px #0f0c14 inset;
        }

        /* Стили для автозаполнения при фокусировке */
        form .invisible-input:-webkit-autofill:focus {
            background-color: #0f0c14 !important;
            color: #e6e1e5 !important;
            -webkit-box-shadow: 0 0 0px 1000px #0f0c14 inset;
            box-shadow: 0 0 0px 1000px #0f0c14 inset;
        }

.hr {
    border-top: 1px,solid,dimgray;
}